@font-face {
  font-family: 'MavenPro';
  src: url('./fonts/MavenPro-Regular.ttf');
}

* {
  font-family: 'MavenPro', monospace;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, #1D4350, #A43931);
}